<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="Rating module admin UI" tags=" EPiServerModulePackage ">
  <assemblies>
    <add assembly="Geta.Epi.Rating.Admin" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}">
      <defaults>
        <add key="moduleArea" value="" />
        <add key="controller" value="Rating" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  
  
</module>