<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <!-- This adds the Alloy template assembly to the "default module" -->
  </assemblies>

  <clientResources>
    <add name="rating-module" resourceType="Script" sortIndex="2" path="RatingModule/Vendor/Scripts/jquery-1.12.0.min.js" />
    <add name="rating-module" resourceType="Style" sortIndex="1" path="RatingModule/Styles/ratingProperty.css" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="rating-module" />
    </requiredResources>
  </clientModule>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="ratingModule" path="RatingProperty" />
    </paths>
  </dojo>
</module>
