<div class="dijitInline">
        <table class="ratingTable ratingTable-striped" id="ratingDataTable">
            <thead>
                <tr>
                    <th>Current rating</th>
                    <th>Rating count</th>
                    <th>Positive rating count</th>
                    <th>Negative rating count</th>
                    <th>Last feedback date</th>
                </tr>
            </thead>
            <tbody data-dojo-attach-point="ratingsTable"></tbody>
        </table>
        <table class="ratingTable ratingTable-striped" id="commentsTbl">
            <thead>
            <tr>
                <th class="ratingTableFirstColumnWidth">Comment date</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody data-dojo-attach-point="pageComments" id="commentTableBody"></tbody>
        </table>
</div>
