

<div class="epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix" id="pageTitle"></h1>

        <div id="tablePlaceholder" class="epi-padding" >

        </div>

    </div>
</div>


<script id="comments-template" type="x-tmpl-mustache" data-contentId="@ViewBag.ContentId">

    <table id="commentTable" class="epi-default">
        <thead>
            <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>Ip address</th>
            </tr>
        </thead>
        <tbody>
            {{#ratingData}}
            {{#comments}}
            <tr>
                <td>
                    {{commentDateFormated}}
                </td>
                <td>
                    {{commentText}}
                </td>
                <td>
                    {{ipAddress}}
                </td>
            </tr>
            {{/comments}}
            {{/ratingData}}
        </tbody>
    </table>
</script>