@model RatingViewModel
<style>
    #ratingSection {
        margin-bottom: 100px;
    }


</style>

@{
    if (Model == null)
    {
        return;
    }

    var cookie = HttpContext.Current.Request.Cookies["Ratings"];

    if (cookie != null && cookie.Values.HasKeys())
    {
        var subKeyValue = cookie.Values["c_" + Model.ContentId];

        if (!string.IsNullOrEmpty(subKeyValue))
        {
            DateTime ratingDate;
            if (Model.IgnorePublish || (DateTime.TryParse(subKeyValue, out ratingDate) && ratingDate > Model.PublishDate))
            {
                return;
            }
        }
    }
}


<div id="ratingSection" data-contentId="@Model.ContentId">
    <div class="row">
        <div class="col-sm-6">
            Fikk du svar pa det du lurte pa ?
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-default" id="btnYes">Ja</button>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#commentArea" id="btnNo">Nei</button>
        </div>
    </div>
    <div id="commentArea" class="collapse row">
        <div>
            <label>Comments:</label>
            <textarea id="commentText"></textarea>
        </div>
        <div>
            <button type="button" id="btnSendRatingComment">Send</button>
        </div>
    </div>
</div>
<div id="thankyouMessage" style="display: none;">
    Thank you!
</div>
