@using EPiServer.Shell


<div class="epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix">Page Rating Overview</h1>
        <div class="epi-padding">
            <label>From:</label>
            <input type="date" id="txtFrom"/>
            <label>To:</label>
            <input type="date" id="txtTo">
            <input type="checkbox" id="chkRatingEnabled"/>
            <label>Rating enabled</label>
            <input type="checkbox" id="chkRatedPages" />
            <label>Only rated pages</label>
            <button id="btnFilter" class="epi-cmsButton">Filter</button>
        </div>

        <div id="tablePlaceholder">

        </div>
    </div>
</div>

<div id="loading-image">
    <img src="@Paths.ToShellClientResource("ClientResources/dojox/widget/Standby/images/loading.gif")" alt="Please wait..." class="loadingIcon"/>
</div>

<script id="ratings-template" type="x-tmpl-mustache">
    
    <table id="ratingTable" class="display rating-table" width="100%">
        <thead>
            <tr>
                <th>Page Name</th>
                <th>Rating</th>
                <th>Total rating count</th>
                <th>Comments</th>
                <th>Last feedback</th>
                <th>Rating enabled</th>
                <th></th>
                <th>Positive ratings</th>
                <th>Negative ratings</th>
                <th>Comments</th>
                <th>Page Name</th>
            </tr>
        </thead>
        <tbody>

            {{#ratingData}}
            <tr>
                <td>
                    <a href="{{contentUrl}}" target="_parent" title="{{pageFriendlyUrl}}">{{pageName}}</a>
                </td>
                <td>
                    {{rating}}
                </td>
                <td>
                    {{ratingCount}}
                </td>
                <td>
                    {{#shortComments}}{{shortCommentText}}<br />{{/shortComments}}
                </td>
                <td>
                    {{lastCommentDateFormatted}}
                </td>
                <td>
                    <input class="ratingSwitch" type="checkbox" {{checked}} data-contentId="{{contentId}}" />
                </td>
                <td>
                    <a href="Rating/PageComment?contentId={{contentId}}">Show all comments</a>
                </td>
                <td>
                    {{positiveRatingCount}}
                </td>
                <td>
                    {{negativeRatingCount}}
                </td>
                <td>
                    {{#comments}}{{commentTextWithLineBreak}}{{/comments}}
                </td>
                <td>
                    {{pageName}}
                </td>
            </tr>
            {{/ratingData}}
        </tbody>
    </table>
</script>