
<div class="epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix">Page Rating Overview</h1>
        <div class="rating-filter-content">
            <label>From:</label>
            <input type="date" id="txtFrom" />
            <label>To:</label>
            <input type="date" id="txtTo">
            <button id="btnFilter" class="epi-cmsButton">Filter</button>
        </div>

        <div id="tablePlaceholder">

        </div>
    </div>
</div>

<script id="ratings-template" type="x-tmpl-mustache">

    <table id="ratingTable" class="display">
        <thead>
            <tr>
                <th>Page Name</th>
                <th>Rating</th>
                <th>Comments</th>
                <th>Rating enabled</th>
            </tr>
        </thead>
        <tbody>

            {{#ratingData}}
            <tr>
                <td>
                    <a href="{{contentUrl}}" target="_parent">{{pageName}}</a>
                </td>
                <td>
                    {{rating}}
                </td>
                <td>
                    {{#comments}}{{.}}; {{/comments}}
                </td>
                <td>
                    <input name="ratingSwitch" type="checkbox" {{checked}} data-contentId="{{contentId}}" />
                </td>
            </tr>
            {{/ratingData}}
        </tbody>
    </table>
</script>