@using EPiServer.Shell


<div class="epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix">Page Rating Overview</h1>
        <div class="epi-padding">
            <label>From:</label>
            <input type="date" id="txtFrom"/>
            <label>To:</label>
            <input type="date" id="txtTo">
            <button id="btnFilter" class="epi-cmsButton">Filter</button>
        </div>

        <div id="tablePlaceholder">

        </div>
    </div>
</div>

<div id="loading-image">
    <img src="@Paths.ToShellClientResource("ClientResources/dojox/widget/Standby/images/loading.gif")" alt="Please wait..." class="loadingIcon"/>
</div>

<script id="ratings-template" type="x-tmpl-mustache">
    
    <table id="ratingTable" class="display">
        <thead>
            <tr>
                <th>Page Name</th>
                <th>Rating</th>
                <th>Comments</th>
                <th>Rating enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {{#ratingData}}
            <tr>
                <td>
                    <a href="{{contentUrl}}" target="_parent">{{pageName}}</a>
                </td>
                <td>
                    {{rating}}
                </td>
                <td>
                    {{#shortComments}}{{commentText}}; {{/shortComments}}
                </td>
                <td>
                    <input name="ratingSwitch" type="checkbox" {{checked}} data-contentId="{{contentId}}" onclick="enableRating(this, event)" />
                </td>
                <td>
                    <a href="Default/PageComment?contentId={{contentId}}">Show all comments</a>
                </td>
            </tr>
            {{/ratingData}}
        </tbody>
    </table>
</script>