.rating-admin-content
{
    padding: 1.5em;
}


.rating-filter-content
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.loadingIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        z-index: 10000;
    }

.rating-table {
    width: 100%;
}
